[keyboard]
name = "Cornix"
product_name = "Cornix"
vendor_id = 0x4c4b
product_id = 0x4643
manufacturer = "Jezail Funder"
chip = "nrf52840"

[ble]
enabled = true
ble_use_2m_phy = true
default_tx_power = 0
battery_adc_pin = "P0_05"
adc_divider_measured = 2000
adc_divider_total = 2806

[split]
connection = "ble"

[split.central]
rows = 4
cols = 7
row_offset = 0
col_offset = 0

[split.central.matrix]
row_pins = ["P0_30", "P0_31", "P0_29", "P0_02"]
col_pins = ["P0_28", "P0_03", "P1_10", "P1_11", "P1_13", "P0_09", "P0_10"]

[[split.central.input_device.encoder]]
pin_a = "P1_04"
pin_b = "P1_06"
phase = "resolution"
resolution = 4

[[split.peripheral]]
rows = 4
cols = 7
row_offset = 4
col_offset = 0

[split.peripheral.matrix]
row_pins = ["P1_09", "P0_28", "P0_03", "P1_10"]
col_pins = ["P0_30", "P0_31", "P0_29", "P0_02", "P1_13", "P0_10", "P0_09"]

[[split.peripheral.input_device.encoder]]
pin_a = "P1_04"
pin_b = "P1_06"
phase = "resolution"
resolution = 4

[rmk]
split_peripherals_num = 1
debounce_time = 5
ble_profiles_num = 5
morse_max_num = 32
max_patterns_per_key = 8
combo_max_num = 32
fork_max_num = 16

[host]
vial_enabled = true
unlock_keys = [[1, 3], [1, 4]]

[storage]
enabled = true
clear_storage = false
clear_layout = false

[dependency]
defmt_log = false

[chip.nrf52840]
dcdc_reg0 = true
dcdc_reg1 = true
dcdc_reg0_voltage = "3V3"

[layout]
rows = 8
cols = 7
layers = 10
matrix_map = """
(0,0) (0,1) (0,2) (0,3) (0,4) (0,5)              (4,5) (4,4) (4,3) (4,2) (4,1) (4,0)
(1,0) (1,1) (1,2) (1,3) (1,4) (1,5)              (5,5) (5,4) (5,3) (5,2) (5,1) (5,0)
(2,0) (2,1) (2,2) (2,3) (2,4) (2,5) (2,6)  (5,6) (6,5) (6,4) (6,3) (6,2) (6,1) (6,0)
(3,0) (3,1) (3,2) (3,3) (3,4) (3,5)              (7,5) (7,4) (7,3) (7,2) (7,1) (7,0)
"""

[[layer]]
name = "base_layer"
keys = """
ESC     Q     W     R     T      Y                U     I      O      P     BSLS       BSPC
TAB     A     S     D     F      G                H     J      K      L     SEMICOLON  QUOT
LSHIFT  X     C     V     B      N    NO    NO    M     COMMA  DOT    SLASH UP         RSHIFT
LCTRL   LALT  LGUI  NO    SPACE  NO               NO    SPACE  ENTER  RALT  MENU       RCTRL
"""
encoders = [["PgDn", "PgUp"], ["AudioVolUp", "AudioVolDown"]]

[behavior.one_shot]
timeout = "3s"

[behavior.combo]
timeout = "50ms"
combos = []

[behavior.morse]
enable_flow_tap = false
hold_on_other_press = true
hold_timeout = "250ms"
gap_timeout = "250ms"
